<%- include('../plantillas/cabecera.ejs') %>
    <meta name="description" content="Origen de los premios nobel.">
    <title> Dinamita y paz, un estrecho vinculo</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header" style="background-image: url('img/dinamita.jpeg'); filter: grayscale(100%);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>Dinamita y paz, un estrecho vinculo</h1>
                                <h2 class="subheading">Nobel y sus aportes a la paz... </h2>
                                <span class="meta">Posted by <a href="#">Marcos Ricci</a> en agosto, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <!-- Main Content -->
                <div class="flecha">
                    <!--acordeon articulos/barra lateral-->
                    <%- include('../plantillas/acordeon_articulos.ejs') %>

                        <div class="principal">
                            <p>Un quimico italiano de apellido Sobrero, preparo por primera vez la nitroglicerina
                                mediante la nitracion de la glicerina,
                                y en 1863, es el quimico e ingeniero sueco Nobel, quien la comenzo a usar como explosivo
                                para voladuras.

                            </p>
                            <p> "El aceite explosivo de Nobel", como se lo llamaba, era muy peligroso de manipular
                                debido a la gran violencia y a la capriochosa produccion de su explosion; pero esta
                                dificulta fue superada por la invension de de Nobel, de la dinamita (1866),
                                seguida por la de la aun mas poderosa gelatina explosiva (1875).
                            </p>
                            <p>Nobel comenzo a fabricar nitroglicerina en gran escala en una fabrica proxima a
                                Estocolmo, en 1863, pero durante los pocos años subsifuientes se produjeron tantos
                                accidentes asociados a su fabricacion, transporte y utilizacion como explosivo, que fue
                                prohibida en algunos paises, incluso en Gran Bretaña.
                            </p>
                            <p> Nobel descubrio que, cuando la nitroglicerina se hallaba disuelta en alcohol de madera
                                (metanol) podia transportarse sin peligro, pero la recuperacion de la nitroglicerina por
                                precipitacion con agua, resulto un proceso demasiado engorroso. </p>
                            <p>
                                Ademas, como explosivo liquido, la nitroglicerina podia resultar peligrosa en las
                                operaciones de voladura, debido a su tendencia a penetrar en grietas y fisuras en la
                                roca, y permanecer sin explotar.
                            </p>

                            <p>Sin desanimarse, Nobel dirigio su atencion, entonces, a los posibles absorbentes solidos.
                                Al fin descubrio una excelente substancia absorbente conocida como Kieselguhr o
                                diatomita
                                (piedras sanitarias para gaticos). </p>
                            <p>Es una tierra blaca, blanda y porosa, que se encuentra por todo el mundo;
                                consiste en esqueletos siliceos de diminutas plantas acuaticas llamadas diatomeas,
                                y posee una gran capacidad absorvente.</p>
                            <p>El kieselguhr seco puede abosrber de tres a cuatro veces su peso de nitroglicerina.
                                Nobel llamo a la mezcla dinamita (del griego: dynamis, potencia), y patento el proceso
                                en 1867. </p>

                            <h2 class="section-heading">Compuesto de la dinamita</h2>

                            <p>La dinamita de diatomita (kieselguhr), es la llamada dinamita nº1 y esta compuesta por 75
                                partes
                                de nitroglicerina y 25 partes de diatomita.</p>
                            <p>La dinamita es mucho menos sensible al choque que la nitroglicerina, pero detona
                                facilmente por
                                el impacto de una bala de fusil. </p>
                            <p> Para explotarla se coloca en su interioir un cebo con fulminato de mercurio, de
                                suficiente potencia,
                                detonandose ese por medios electricos, o mediante una mecha de seguridad.
                            </p>




                            <blockquote> Nobel, en gran bretaña solamente, obtuvo 122 patentes y amaso una gran fortuna.
                            </blockquote>



                            <h2 class="section-heading">Dinamita y paz, algun vinculo lejano?¿</h2>

                            <p>Como pueden imaginar, el proyecto no ha avanzado demasiado, mas si las guerras por
                                recursos.</p>
                            <p>A su muerte, Nobel dejo el grueso de su fortuna destinado a la institucion de los premios
                                Nobel para fisica, quimica, medicina, literatura - y la paz. Al no ser posible hallar un
                                mercedor de un premio determinado, en alguno de los periodos anuales, el premio queda
                                diferido.
                            </p>
                            <p> De todos los premios Nobel, el premio de la paz es el que se ha diferido mas
                                frecuentemente.
                            </p>
                            <p>El ex-presidente de EE. UU., Barack Obama, ha obtenido este galardón dirigiendo
                                guerras a los confines del mundo.</p>
                            <a href="#">
                                <img class="img-responsive" src="img/mujeres-fabricando-dinamita.jpg" alt="">
                            </a>
                            <span class="caption text-muted">
                                Mujeres fabricando dinamita en una de las fábricas de Alfred Nobel.
                            </span>

                              <!-- Pager -->
                            <ul class="pager">
                            <li class="next">
                                <a href="/">Todos los Posts &rarr;</a>
                            </li>
                        </ul>
                        </div>
                        <!--Columna derecha reservada para algo-->
                        <div class="side-derecho"></div>
                </div>
                </div>
            </article>

            <hr>

            <!--footer-->
            <%- include('../plantillas/pies.ejs') %>

                <!-- jQuery -->
                <script src="vendor/jquery/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Theme JavaScript -->
                <script src="js/clean-blog.min.js"></script>

    </body>

    </html>