<%- include('../plantillas/cabecera.ejs') %>
    <meta name="description" content="">
    <title> Extraccion de energia del centro de la tierra</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header" style="background-image: url('img/centro-tierra.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>Extraccion de energia del centro de la tierra</h1>
                                <h2 class="subheading">Proyecto de mas de un siglo </h2>
                                <span class="meta">Posted by <a href="#">Marcos Ricci</a> en agosto, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                    <!-- Main Content -->
                    <div class="flecha">
                        <!--acordeon articulos/barra lateral-->
                        <%- include('../plantillas/acordeon_articulos.ejs') %>

                            <div class="principal">
                                <p>En un comunicado dirigido a la asociacion britanica para el progreso de la ciencia,
                                    Sir Charles Parsons, en 1904,
                                    examino la posibilidad de extraer energia termica interna de la tierra perforando un
                                    pozo de 20 kilometros de profundiad.
                                </p>
                                <p>Charles Algernon Parsons (1854- 1931) fue un ingeniero e inventor británico, más
                                    conocido por su invención de la turbina de vapor.
                                </p>
                                <p>
                                    En 1884 Parsons se trasladó a Clarke, Chapman and Co., fabricantes de motores
                                    navales que operaban cerca de Newcastle, donde se convirtió en jefe de su desarrollo
                                    de equipos eléctricos.
                                </p>

                                <p> Allí desarrolló un motor de turbina en 1884 e inmediatamente utilizó el nuevo motor
                                    para accionar un generador eléctrico, que también diseñó. </p>
                                <p>La turbina de vapor de Parsons hizo posible una electricidad barata y abundante y
                                    revolucionó el transporte marítimo y la guerra naval</p>

                                <h2 class="section-heading">¿Real o ficción?</h2>

                                <p>Muy real, aunque supera a la ficción. Don Charles P. Calculó que tal operacion
                                    insumiria ochenta y cinco años y costaria 5.000.000 de libras esterlinas,
                                    suma que calculo en 1919, como el costo de un dia de la guerra de 1914-1918, para
                                    gran Bretaña sola.
                                </p>



                                <blockquote> Oficialmente, la guerra inició el 28 de julio de 1914 y llegó a su fin a
                                    las 11:11 de la mañana del 11 de noviembre
                                    de 1918.
                                </blockquote>

                                <p>Las fronteras son una barrera para la migración pero aparentemente no lo son para la
                                    estupidez humana.

                                </p>

                                <h2 class="section-heading">La primer guerra mundial duro 1564 dias aproximadamente.
                                </h2>

                                <p>Como pueden imaginar, el proyecto no ha avanzado demasiado, mas si las guerras por
                                    recursos.</p>

                                <a href="#">
                                    <img class="img-responsive" src="img/subway-abandoned.jpg" alt="">
                                </a>
                                <span class="caption text-muted">Cual de todos los futuros distópicos nos depara?¿

                                </span>

                                <!-- Pager -->
                                <ul class="pager">
                                    <li class="next">
                                        <a href="/">Todos los Posts &rarr;</a>
                                    </li>
                                </ul>
                            </div>
                <!--Columna derecha reservada para algo-->
                 <div class="side-derecho"></div>
                    </div>
                
            </article>

            <hr>

            <!--footer-->
            <%- include('../plantillas/pies.ejs') %>

                <!-- jQuery -->
                <script src="vendor/jquery/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Theme JavaScript -->
                <script src="js/clean-blog.min.js"></script>

    </body>

    </html>