
<div class="side-left">
     <!--acordeon lateral izquierdo-->
     <ul class="ul-acordeon">
 
        <li class="li-acor acordeon-root" id="id1"><a href="/post">Todos los Posts</a></li>

        <li class="li-acor acordeon-root" id="id2"><a>Cursos</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/buenas-practicas-js">Buenas practicas en nodejs y javascript</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/mysql-introduccion">Mysql</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/kubernetes-introduccion">Kubernetes completo en español</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/inyeccion">Angular avanzado</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/iptables">Networking</a></li>
            <li class="li-acor acordeon-child-post" id="id2"><a href="/redox-vue">Vue avanzado</a></li>
        <li class="li-acor"><a href="/about">Acerca de</a></li>
    </ul>
</div>
