
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
            <li class="li-acor acordeon-root" ><a href="/kubernetes-introduccion#arriba">Introduccion</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-conceptos#arriba">Glosario de conceptos</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-minikube#arriba">Minikube</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-services#arriba">Services</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-exponer-app-node#arriba">Deploy una app nodejs</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-solucionar-problemas#arriba">Solucionar problemas</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-multiples-instancias#arriba"> Correr multiples instancias</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-updates-no-down#arriba"> Updates sin bajar el servicio</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-deployment-pods#arriba"> deployments varios pods</a></li>
          
    </ul>



</div>

