
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
        <li class="li-acor acordeon-root" ><a href="/iptables">IPtables</a></li>
        <li class="li-acor acordeon-root" ><a href="/iptables">Protocolo icmp</a></li>
        <!--<li class="li-acor acordeon-root" ><a href="/iptables">Protocolo TCP/UDP</a></li>-->
    </ul>



</div>

