
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
            <li class="li-acor acordeon-root" ><a href="/mysql-introduccion">Introduccion</a></li>
            <li class="li-acor acordeon-root" ><a href="/mysql-instalacion">instalacion</a></li>
            <li class="li-acor acordeon-root" ><a href="/mysql-constructivas">Querys Constructivas</a></li>
            <li class="li-acor acordeon-root" ><a href="/mysql-seleccion">Querys de seleccion</a></li>
            <li class="li-acor acordeon-root" ><a href="/mysql-destructivas">Querys destructivas</a></li>
            <li class="li-acor acordeon-root" ><a href="/mysql-dba">            Funciones del dba</a></li>
          

        <li class="li-acor acordeon-root" id="id2"><a>Relaciones</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href=" /mysql-relacion-1a1">Relacion 1 a 1</a></li>
            <li class="li-acor acordeon-child"  id="id2"><a href="/mysql-relacion-1aM">Relacion 1 a muchos</a></li>
            <li class="li-acor acordeon-child"  id="id2"><a href="/mysql-relacion-MaM">Relacion muchos a muchos</a></li>
    </ul>



</div>

