
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
        <li class="li-acor acordeon-root" ><a href="/inyeccion">Inyección de dependencias</a></li>
        <li class="li-acor acordeon-root" ><a href="/servicios">Servicios</a></li>
            <li class="li-acor acordeon-root" ><a href="/observer-patron">Patron de diseño Observer</a></li>
            <li class="li-acor acordeon-root" ><a href="/observables-angular">Observables en angular</a></li>
            <li class="li-acor acordeon-root" ><a href="/httpClient">Http Client</a></li>
            <li class="li-acor acordeon-root" ><a href="/guards">Guards</a></li>
            <li class="li-acor acordeon-root" ><a href="/login-angular">Login completo</a></li>
            <li class="li-acor acordeon-root" ><a href="/interceptors">Interceptors</a></li>
        
    </ul>



</div>

