
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
        <% if( lang=="es") { %>
            <li class="li-acor acordeon-root" ><a href="/redox-vue">Patron Flux/Redux</a></li>
            <li class="li-acor acordeon-root" ><a href="/redox-ejemplo-vue">Ejemplo Redux</a></li>
            <% } else if (lang=="en"){ %>
                <li class="li-acor acordeon-root" ><a href="/en/redox-vue">Flux/Redox Patron</a></li>
                <li class="li-acor acordeon-root" ><a href="/en/redox-example-vue">Redox Example</a></li>
            
            
            
            <% } %>
    </ul>



</div>

