
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" style="display:flex;">
            <li class="li-acor acordeon-root" id="id1"><a>Todos los Posts</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/energia-centro-tierra">Energia en el centro de la tierra</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/dinamitaypaz">Dinamita y la paz</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/laplacedemonio">Futuro ya escrito</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/polvora-negra">Origin de la polvora</a></li>
        
        <li class="li-acor "><a href="#news">Actualidad</a></li>

        <li class="li-acor acordeon-root" id="id2"><a>Cursos</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/buenas-practicas-js">Buenas practicas en nodejs y javascript</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="#">Mysql</a></li>
        
        <li class="li-acor"><a href="#about">About</a></li>
    </ul>



</div>

