
<div class="side-left">
    <!--acordeon lateral izquierdo-->
    <ul class="ul-acordeon">
            <li class="li-acor acordeon-root" id="id1"><a>Todos los Posts</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/energia-centro-tierra">Energia en el centro de la tierra</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/dinamitaypaz">Dinamita y la paz</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/laplacedemonio">Futuro ya escrito</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/polvora-negra">Origin de la polvora</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/pucaras">Pilotos sudamericanos</a></li>
        
        <li class="li-acor "><a href="#news">Actualidad</a></li>

        <li class="li-acor acordeon-root" id="id2"><a>Cursos</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/buenas-practicas-js">Buenas practicas en nodejs y javascript</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/mysql-introduccion">Mysql</a></li>
        
        <li class="li-acor"><a href="/about">Acerca de</a></li>
    </ul>
</div>
