
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
            <li class="li-acor acordeon-root" ><a href="/kubernetes-introduccion">Introduccion</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-conceptos">Glosario de conceptos</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-minikube">Minikube</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-services">Services</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-exponer-app-node">Deploy una app nodejs</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-solucionar-problemas">Solucionar problemas</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-multiples-instancias"> Correr multiples instancias</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-updates-no-down"> Updates sin bajar el servicio</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-deployment-pods"> deployments varios pods</a></li>
          
    </ul>



</div>

