    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="flecha">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <!--twiter-->
                                <span class="fa-stack fa-lg" style="color:rgb(4, 213, 255);">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!--facebook-->
                                <span class="fa-stack fa-lg" style="color:rgb(56, 91, 205);">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!--git hub-->
                                <span class="fa-stack fa-lg" style="color:rgb(5, 116, 1);" >
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:white;">Copyright &copy; Revista Amigos 2023</p>
                </div>
            </div>
        </div>
    </footer>

    <!--Pregunto si llego la variable, empiezo a cargar los js-->
    <% if (lazyload === 'ok') { %>

     <!--google ads-->
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6031580430199692"
     crossorigin="anonymous"></script>

   

     <!-- jQuery -->
     <script src="vendor/jquery/jquery.min.js" defer></script>

     <!-- Bootstrap Core JavaScript -->
     <script src="vendor/bootstrap/js/bootstrap.min.js" defer></script>

     <!-- Contact Form JavaScript -->
     <script src="js/jqBootstrapValidation.js" defer></script>
     <script src="js/contact_me.js" defer></script>

     <!-- Theme JavaScript -->
     <script src="js/clean-blog.min.js" defer></script>

     <% } %>
</body>

</html>

<!--Resaltado de sintaxis-->
<script src = "https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=desert" defer = "" ></script>
