
<div class="side-left">
    <!--acordeon lateral izquierdo-->
    <ul class="ul-acordeon">
        <!--
            <li class="li-acor acordeon-root" id="id1"><a>Todos los Posts</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/energia-centro-tierra">Energia en el centro de la tierra</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/dinamitaypaz">Dinamita y la paz</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/laplacedemonio">Futuro ya escrito</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/polvora-negra">Origin de la polvora</a></li>
            <li class="li-acor acordeon-child" id="id1"><a href="/pucaras">Pilotos sudamericanos</a></li>
        -->
        

        <li class="li-acor acordeon-root" id="id2"><a>Courses</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/buenas-practicas-js">Good practices in Javascript</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/mysql-introduccion">Mysql</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/kubernetes-introduction">Kubernetes full course</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/inyeccion">Advanced Angular</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/iptables">Networking</a></li>
            <li class="li-acor acordeon-child" id="id2"><a href="/redox-vue">Advanced Vue</a></li>
        <li class="li-acor"><a href="/about">About us</a></li>
    </ul>
</div>
