
<div class="side-left">

<!-- El acordeon de es personal para cada curso-->
    <ul class="ul-acordeon" >
            <li class="li-acor acordeon-root" ><a href="/kubernetes-introduction#arriba">Introduction</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-concepts#arriba">Glossary of concepts</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-minikube-en#arriba">Minikube</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-services-en#arriba">Services</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-exponer-app-node#arriba">Deploy nodejs app</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-solucionar-problemas#arriba">Troubleshoot</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-labels#arriba">Labels</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-multiples-instancias#arriba"> Running multiples instances</a></li>
            <li class="li-acor acordeon-root" ><a href="/kubernetes-updates-no-down#arriba"> Updates without stopping the service</a></li>
            
          
    </ul>



</div>

